<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="300">
  <Properties>
    <Property name="filepath">C:/logs</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
    </Console>
    <RollingRandomAccessFile name="InfoFile" fileName="${filepath}/serverbackup_info.log" filePattern="${filepath}/$${date:yyyy-MM}/info-%d{dd}-%i.log">
      <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}\t%level\t%c\t%msg%xEx\t%M\t%L%n" />
      <Policies>
      	<TimeBasedTriggeringPolicy />
      	<SizeBasedTriggeringPolicy size="120MB" />
      </Policies>
      <DefaultRolloverStrategy max="20" />
    </RollingRandomAccessFile>
    <RollingRandomAccessFile name="ErrFile" fileName="${filepath}/serverbackup_err.log" filePattern="${filepath}/$${date:yyyy-MM}/err-%d{dd}-%i.log">
         <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout charset="UTF-8" pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%c.%M.%L] -->> %msg%xEx%n" />
      <Policies>
      	<TimeBasedTriggeringPolicy />
      	<SizeBasedTriggeringPolicy size="10MB" />
      </Policies>
      <DefaultRolloverStrategy max="20" />
    </RollingRandomAccessFile>
  </Appenders>
  <Loggers>
     <logger name="org.springframework" level="INFO"></logger>
     <logger name="org.mybatis" level="INFO"></logger>
    <Root level="info">
      <AppenderRef ref="Console" />
      <AppenderRef ref="InfoFile" />
      <AppenderRef ref="ErrFile" />
    </Root>
     
  </Loggers>
</Configuration>